@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Reem+Kufi:wght@400;500;600;700&display=swap");

s body {
  font-family: "Poppins", sans-serif;
  font-family: "Reem Kufi", sans-serif;
}

.container {
  margin: 0 auto;
  }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  height: 72px;
}

nav ul {
  display: flex;
  justify-content: space-evenly ;
  list-style: none;
  gap: 24px;
  margin: 0;
  padding: 0;
}

:root {
  --red: #d01c28;
  --gray: #5a5959;
}

button {
  all: unset;
  background: var(--red);
  padding: 6px 16px;
  height: 32px;
  color: white;
  font-weight: 500px;
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-weight: 1000;
  line-height: 90px;
  font-size: 90px;
  margin: 0px;
  margin-bottom: 8px;
  padding: 0px;
}

.hero p {
  font-weight: 600;
  color: var(--gray);
  max-width: 400px;
}

.hero-btn {
  display: flex;
  gap: 40px;
}

.sec-btn {
  margin: 0px;
  background: transparent;
  color: var(--red);
  border: 2px solid gray;
  font-weight: 600;
}

.shopping p {
  margin: 2px;
  font-size: 14px;
}

.brand-icons {
  display: flex;
  gap: 10px;
}
